<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>

    <style>
      .container{
        display: block;
      }
    </style>

    {% for message in messages %} {{message}} {% endfor %}
    <form method="post">
      {% csrf_token %}

      <div class="container">
        <input type="text" placeholder="Enter your username " name="username" />
        <input
          type="password"
          placeholder="Enter your password"
          name="password"
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
